.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    height: 65vh;
    width: 45vw;
    background: #128df6;
    border-radius: 50px;
}
